<div>
   <h2
      style="text-align: center; color: #fff; background-color: #364b5f; padding: 8px 10px; text-transform: uppercase;">
      {{archetype.plugin.name}}
      <img style="vertical-align: bottom; filter: invert(100%);" src="../facade/assets/images/icon.svg" width="30"
         height="30">
   </h2>
   <div>
      <p>{{translations.help1}}</p>
      <p>{{translations.help2}}</p>
      <p>{{translations.help3}}</p>
   </div>
   <figure style="max-width:70%; margin: 0 auto; display: block; text-align: center;">
      <img style="max-width:100%; height:auto; margin:0 auto; display:block;" src="../facade/assets/images/help-01.png"
         alt="{{translations.screenshot1Alt}}" />
   </figure>
   <figure style="max-width:70%; margin: 0 auto; display: block; text-align: center">
      <img style="max-width:100%; height:auto; margin:0 auto; display:block;" src="../facade/assets/images/help-02.png"
         alt="{{translations.screenshot2Alt}}" />
   </figure>
</div>